.banner-slide {
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd04e; /* Yellow background */
}

.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
}

.text-content {
  max-width: 50%;
}

.cta-button {
  /* margin-top: 20px; */
  background-color: white;
  color: #cd1921;
  border: none;
  border-radius: 100px;
  font-family: "Inter";
  font-weight: 600;
  padding: 8px 10px;
  font-size: 10px;
}

.cta-button:hover {
  background-color: #fff5e6;
  color: #a65224;
}

.image-content img {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 20px center; 
}

.title-1 {
  font-family: "NexaRegular";
  color: #ef7123;
  font-size: 15px;
  margin: 0;
}
.title-2 {
  font-family: "NexaBold";
  font-size: 20px;
  color: #ef7123;
  margin: 0;
  margin-bottom: -10px;
}
.title-sub {
  font-family: "NexaBold";
  font-size: 20px;
  color: #ef7123;
  margin: 0;
  margin-left: 10px;
}

/* Second */
.text-content2 {
  max-width: 50%;
}
.para-text {
  color: #6d3b1c;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
}

.image-content2 img {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: -70px center; 
}
.banner-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 0px;
}


/* .text-content2 {
  max-width: 50%;
}
.para-text {
  color: #6d3b1c;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 600;
}

.image-content2 img {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: -50px center; 
}
.banner-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} */


@media (min-width: 768px) {
  .para-text {
    font-size: 15px;
  }
  .title-1 {
    font-family: "NexaRegular";
    font-size: 18px;
  }
  .title-2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: -10px;
  }
  .title-sub {
    font-family: "NexaBold";
    font-size: 30px;
    margin-left: 15px;
  }
  .cta-button {
    font-size: 14px;
  }

  .image-content2 img {
    max-width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: 0px center; 
  }
  .image-content img {
    max-width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: 0px center; 
  }
  .banner-container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* padding: 20px; */
    /* padding-left: 0px; */
    padding-bottom: 0px;
  }
  
}
/* Media Query for Small Screens */
/* @media (max-width: 768px) {
    .banner-container {
      flex-direction: column; 
      justify-content: center;
      text-align: center;
    }
  
    .text-content {
      max-width: 100%; 
      text-align: center;
    }
  
    .image-content {
      display: none; 
    }
  
   
  } */
