.banner-slide {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7b731; /* Yellow background */
  }
  
  .banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px;
    padding-bottom:0px ;
  }
  
  .text-content {
    max-width: 50%;
  }
  
  .cta-button {
    /* margin-top: 20px; */
    background-color: white;
    color: #a65224;
    border: none;
    border-radius: 100px;
    font-family: 'Inter';
    font-weight: 600;
  }
  
  .cta-button:hover {
    background-color: #fff5e6;
    color: #a65224;
  }
  
  .image-content img {
    max-width: 100%;
    height: 500px;
  }
  
  .title-1{
    font-family: 'NexaRegular';
    color: #EF7123;
    font-size:20px ;
    margin: 0;

  }
  .title-2{
    font-family: 'NexaBold';
    font-size:35px ;
    color: #EF7123;
    margin: 0;
    margin-top: -15px;
    margin-bottom: -20px;

  }
  .title-sub{
    font-family: 'NexaBold';
    font-size:35px ;
    color: #EF7123;
    margin: 0;
    margin-left: 15px;
    /* margin-top: -20px; */

  }
    
  .image-content2 img {
    max-width: 100%;
    height: 500px;
  }


  /* Media Query for Small Screens */
@media (max-width: 768px) {
    .banner-container {
      flex-direction: column; /* Stack text and image vertically */
      justify-content: center;
      text-align: center;
    }
  
    .text-content {
      max-width: 100%; /* Full width for text content */
      text-align: center;
    }
  
    .image-content {
      display: none; /* Hide images on small screens */
    }
  
   
  }