.footer {
  border-top: 1px solid #e79169;
  background-color: white;
  padding: 10px 20px;
  height: 50px;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center;
}

.footer-title {
  margin: 0;
  font-weight: bold;
  color: #cd1921;
  font-size: 16px;
  font-family: "Poppins";
  margin-left: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

/* Larger screens (tablet and above) */
@media (min-width: 768px) {
  .footer-title {
    margin: 0;
    font-weight: bold;
    color: #cd1921;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
